.victoryContainer{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index:999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backdrop{
    display: flex;
}